{% extends 'index_a.html' %}
{% block table_1 %}
    <div class="table" align="center">
    <div class="table-column-group">
            <div class="table-column"></div>
            <div class="table-column"></div>
            <div class="table-column"></div>
            <div class="table-column"></div>
            <div class="table-column"></div>
        <div class="table-column"></div>
    </div>
    <div class="table-header-group">
            <ul class="table-row">
                <li class="table-cell">用户编号</li>
                <li class="table-cell">用户名名字</li>
                <li class="table-cell">用户密码</li>
                <li class="table-cell">用户注册时间</li>
                <li class="table-cell">用户登录时间</li>
                <li class="table-cell">操作</li>
            </ul>
    </div>
    <div class="table-row-group">
        {% for c in users %}
        <ul class="table-row">
        <li class="table-cell">{{ c.userid }}</li>
                <li class="table-cell">{{ c.username}}</li>
                <li class="table-cell">{{ c.userpwd }}</li>
                <li class="table-cell">{{ c.regtime}}</li>
                <li class="table-cell">{{ c.logtime }}</li>
                <li class="table-cell"><a href="http://127.0.0.1:8000/usercarinfo/?user_name={{ c.username }}">
                    <button style="border-radius: 6px">查看使用记录</button></a></li>
            </ul>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block search_1 %}
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input name="input_username" class="form-control" type="text" placeholder="输入用户名" aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
{% endblock %}